h1{
    text-align: center;
    background: antiquewhite;
}

h2{
    text-align: center;
}

table{
    margin: auto;
    border: 1px solid black;
    font-size: 20px}

th{
    border: 1px solid black;
    padding: 5px;
}

td{
    border: 1px solid black;
    padding: 5px;
}

#newDgWlkr{
    color: green;
    display: none;
    font-size: 20px;
    text-align: center;
    margin-left: 70%;
    position: fixed;
    margin-top: 2%;
}

#findDogWalker{
    width: 40%;
}

#createDogwalker{
    width: 40%;
}

#uniqueIdDW{
    margin-left: 4%;
    width: 90%;
}

#findTableDW{
    width: 80%;
}

#dogWalkerTable{
    width: 80%;
}

#lastNameDW,#nameDW,#middleNameDW,#birthDateDW,#phoneNumberDW,#emailDW{
    margin-left: 4%;
    width: 90%;
}

#createButton{
    margin-left: 4%;
    width: 90%;
}

#menu{
    color: chartreuse;
    text-align: center;
    float: left;
    position: fixed;
    margin-top: 2%;
}

#menuTable{
    background: dodgerblue;
}

#menuButton1,#menuButton2,#menuButton3,#menuButton4{
    width: 95%;
}

#contentDogWalkerPage{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15%;
    border: 3px solid gray;
}

#footer{
    background: none;
}

#Container{
    border : 0;
}

#content{
    border: 0;
}

#header{
    background: none;
    border: 0;
}

#footerDogWalker{
    background: aquamarine;
    height: 5%;
    width: 100%;
}

#inputLastNameDW {
    text-align: center;
    color: red;
    font-size: 20px;
}

#inputNameDW {
    text-align: center;
    color: red;
    font-size: 20px;
}

#inputMiddleNameDW {
    text-align: center;
    color: red;
    font-size: 20px;
}

#inputBirthdayDW {
    text-align: center;
    color: red;
    font-size: 20px;
}

#inputPhoneDW {
    text-align: center;
    color: red;
    font-size: 20px;
}

#inputEmailDW {
    text-align: center;
    color: red;
    font-size: 20px;
}
