
h1{text-align: center}

table{
    margin: auto;
    border: 1px solid black;
    font-size: 20px}

th{
    border: 1px solid black;
    padding: 5px;
}

td{
    border: 1px solid black;
    padding: 5px;
}

#newDgWlkr{
    color: green;
    margin-left: 45%;
    display:none;
}

#findDogWalker{
    width: 30%;
}

#uniqueIdDW{
    width: 90%;
}

#findTableDW{
    margin: auto;
    width: 60%;
}

#dogWalkerTable{
    margin: auto;
    width: 60%;
}