
h1{text-align: center}

table{
    margin: auto;
    border: 1px solid black;
    font-size: 20px}

th{
    border: 1px solid black;
    padding: 5px;
}

td{
    border: 1px solid black;
    padding: 5px;
}

#newClt{
    color: green;
    margin-left: 45%;
    display:none;
}

#findClient{
    width: 30%;
}

#uniqueId{
    width: 90%;
}

#findTable{
    margin: auto;
    width: 60%;
}

#clientTable{
    margin: auto;
    width: 60%;
}

